@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Inter Tight";
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.otstup-btw-blocks {
  margin-top: 100px;
}

.marg {
  margin: 2% 6% 0 6%;
}

.txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.txt_black {
  color: #3a3a3a;
}
.txt_gray {
  color: #616161;
}

.txt-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.txt-small_gray {
  color: #616161;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #3a3a3a;
}

.title {
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.02px;
  color: #3a3a3a;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: #3a3a3a;
}

.header {
  background-color: #FCF8F3;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
  margin-left: auto;
  padding-right: 8%;
  gap: 10%;
}

a {
  color: #3a3a3a;
}
a:hover {
  color: #3a3a3a;
}

.two-photo {
  display: grid;
}

.img1 {
  grid-area: 1/1;
  margin: 2% 6% 0 6%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main-box {
  grid-area: 1/1;
  width: 20%;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 3%;
  margin: 2% 6% 0 6%;
}

.in-box {
  position: relative;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 67.2px;
  color: #3a3a3a;
  text-align: left;
  padding-right: 5%;
}

.marg2 {
  margin-top: 25%;
}

.txt-gray {
  font-size: 20px;
}

.bttn1 {
  width: 80%;
  font-weight: 600;
  font-size: 1.2em;
  padding: 1em 1.5em;
  color: white;
  cursor: pointer;
  background-color: #E89F71;
  border: 2px solid #E89F71;
}

@media screen and (max-width: 1365px) {
  .img1 {
    width: 70%;
  }
}
@media screen and (max-width: 1280px) {
  .img1 {
    width: 80%;
  }
}
@media screen and (max-width: 1130px) {
  .img1 {
    width: 90%;
  }
}
@media screen and (max-width: 955px) {
  .img1 {
    width: 100%;
  }
}
@media screen and (max-width: 817px) {
  .img1 {
    width: 100%;
  }
}
.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 4%;
  height: 4%;
}

.txt2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #3a3a3a;
  margin-top: -3%;
  margin-left: -25%;
}

.description {
  margin-top: -15%;
  margin-left: -25%;
}

@media screen and (max-width: 1222px) {
  .txt2 {
    margin-left: 0;
  }
  .description {
    margin-left: 0;
  }
}
.grid-container-1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
}

.grid-container-1 > * {
  background-color: #F4F5F7;
  border-radius: 5px;
}

.product1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.product2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.product3 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.product4 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.product5 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.product6 {
  grid-row-start: 2;
  grid-column-start: 3;
}

.txt3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #3a3a3a;
}

.photo-product {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.marg3 {
  margin-left: 10%;
}

.bttn2 {
  width: 20%;
  font-weight: 600;
  font-size: 1.2em;
  padding: 1em 1.5em;
  color: #E89F71;
  cursor: pointer;
  background-color: white;
  border: 2px solid #E89F71;
  margin-top: 8%;
  margin-left: 40%;
}

@media screen and (max-width: 888px) {
  .marg3 {
    margin-top: -16%;
  }
}
@media screen and (max-width: 888px) {
  .marg3 {
    margin-top: -18%;
  }
  .marg3-screen {
    margin-top: -17%;
  }
}
.background {
  background-color: #FCF8F3;
  width: 100%;
}

.left-block {
  padding-right: 5%;
  margin-top: 15%;
}

.h2-padd {
  padding-right: 3%;
}

.txt_gray-padd {
  padding-right: 40%;
}

.bttn3 {
  width: 50%;
  font-weight: 600;
  font-size: 1.2em;
  padding: 1em 1.5em;
  color: white;
  cursor: pointer;
  background-color: #E89F71;
  border: 2px solid #E89F71;
}

@media screen and (max-width: 750px) {
  .bttn3 {
    width: 65%;
  }
}
.grid-container-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
}

.grid-container-2 > * {
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.tips1 {
  grid-column-start: 1;
}

.tips2 {
  grid-column-start: 2;
}

.tips3 {
  grid-column-start: 3;
}

.photo-tricks {
  width: 100%;
}

.marg4 {
  margin: 2% 6% 0 6%;
}

.pos-circle {
  gap: 3%;
  margin-left: 45%;
}

.circle {
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border: solid 1px #d8d8d8;
  border-radius: 50%;
}

.active-circle {
  width: 11px;
  height: 11px;
  background-color: #E89F71;
  border: solid 1px #E89F71;
  border-radius: 50%;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 1%;
}

.post-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.post-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.post-3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.post-4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.post-5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.post-6 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}

.post-7 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 8;
}

.post-8 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 5;
  grid-column-end: 6;
}

.post-9 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 7;
}

.art1 {
  width: 100%;
}

.art2 {
  width: 40%;
}

.line {
  border-top: 2px solid #d8d8d8;
  width: 85%;
  margin-top: 200px;
}

.footer-marg {
  margin-top: -3%;
}

.funiro-block {
  padding-right: 25%;
  margin-top: -1.5%;
}

.menu-block {
  margin-right: 40%;
}

.acc-block {
  margin-left: -30%;
}

.soc-block {
  margin-left: 6%;
}

.blocks-2-4 {
  margin-left: 10%;
}/*# sourceMappingURL=main.css.map */