.line{
    border-top: 2px solid #d8d8d8;
    width: 85%;
    margin-top: 200px;
    //margin-left: 10%;
}
.footer-marg{
    margin-top: -3%;
}
.funiro-block{
    padding-right: 25%;
    margin-top: -1.5%;
}
.menu-block{
     margin-right: 40%;
 }
.acc-block{
     margin-left: -30%;
 }
 .soc-block{
    margin-left: 6%;
 }
 .blocks-2-4{
    margin-left: 10%;
 }
