.header{
    background-color: #FCF8F3;
    top: 0;
    left: 0;
    width: 100%;

}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    margin-left: auto;
    padding-right: 8%;
    gap: 10%;

}
a{
    color: #3a3a3a;;
    &:hover{
        color: #3a3a3a;;
    }
}
.two-photo{
    display:grid;

}
.img1{
    grid-area: 1 / 1;
    margin: 2% 6% 0 6%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.main-box{
    grid-area: 1 / 1;
    width: 20%;
    height: auto;
    background: rgba(255,255,255,0.5);
    padding: 3%;
    margin: 2% 6% 0 6%;

}
.in-box{
     position: relative;

 }
h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 67.2px;
    color:#3a3a3a;
    text-align: left;
    padding-right: 5%;

}
 .marg2{
     margin-top: 25%;

 }
 .txt-gray{
    font-size: 20px;

 }
.bttn1{
    width: 80%;
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em 1.5em;
    color: #FFFF;
    cursor: pointer;
    background-color: #E89F71;
    border: 2px solid #E89F71;

}
@media screen and (max-width: 1365px){
    .img1{
        width: 70%;
    }
}
@media screen and (max-width: 1280px){
    .img1{
        width: 80%;
    }
}
@media screen and (max-width: 1130px){
    .img1{
        width: 90%;
    }
}
@media screen and (max-width: 955px){
    .img1{
        width: 100%;
    }
}
@media screen and (max-width: 817px){
    .img1{
        width: 100%;
    }
}