.grid-container-2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
}
.grid-container-2 > * {
    background-color: #FFFF;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
}
.tips1{
    grid-column-start: 1;
}
.tips2{
    grid-column-start: 2;
}
.tips3{
    grid-column-start: 3;
}
.photo-tricks{
    width:100%;
}
.marg4{
    margin: 2% 6% 0 6%;
}
.pos-circle{
    gap: 3%;
    margin-left: 45%;
}
.circle{
    width: 11px;
    height: 11px;
    background-color: #d8d8d8;
    border: solid 1px #d8d8d8;
    border-radius: 50%;
}
.active-circle{
    width: 11px;
    height: 11px;
    background-color: #E89F71;
    border: solid 1px #E89F71;
    border-radius: 50%;
}